@model EStateDevelopment.Data.ChargesSlab

@{
    ViewBag.Title = "ChargesSlab";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<div class="container">
    <div class="content">
        <div class="card stacked-form" style="border:none; min-height:550px;">

            <div class="card text-center" style="background-color:whitesmoke; border:none;">
                <div class="card-header" style="background-color:whitesmoke">
                    <h3>Charges Slab</h3>
                </div>
            </div>
            @using (Html.BeginForm("ChargesSlab", "ProductConfiguration", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-md-12" style="background-color:white;">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                @Html.EditorFor(model => model.SlabName, new { htmlAttributes = new { @class = "form-control", placeholder = "Slab Name" } })
                                @Html.ValidationMessageFor(model => model.SlabName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.MinAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Min Amount" } })
                                @Html.ValidationMessageFor(model => model.MinAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.MaxAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Max Amount" } })
                                @Html.ValidationMessageFor(model => model.MaxAmount, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.ChargesAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "Charges Amount" } })
                                @Html.ValidationMessageFor(model => model.ChargesAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" style="margin-top:50px;">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="submit" value="ChargesSlab" class="btn btn-fill btn-outline-dark btn-wd" style="background-color:black;color:white">Submit</button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            }
        </div>
    </div>
</div>

